<app-head-menu>Menu....</app-head-menu>
<div class="allInGroup">
  <div class="group">
    <div class="topic">Список турниров</div>
    <div class="the_line"></div>

    <table>
      <tr class="header">
        <th>ID</th>
        <th>Название турнира</th>
        <th>Предмет</th>
        <th>Кол-во участников</th>
        <th>Организатор</th>
        <th>Победитель</th>
        <th style="border-right-style: none">Статус</th>
      </tr>
      <tr class="inf_row"
          *ngFor="let tournament of tournaments.slice().reverse();
          let i = index"
          [attr.data-index]="i">
        <td>{{tournament.id}}</td>
        <td><a href="./tournament/{{tournament.id}}">{{tournament.name}}</a></td>
        <td>{{tournament.subject}}</td>
        <td>{{tournament.numOfParticip}}</td>
        <td><a href="./profile/{{tournament.organizerId}}">{{tournament.organizer}}</a></td>
        <td><a href="./profile/{{tournament.winnerId}}">{{tournament.winner}}</a></td>
        <td>{{getStatus(tournament.winnerId)}}</td>
      </tr>
      <br>
    </table>

  </div>


  <div *ngIf="personStatus == 'true'" class="group" style="width: 250px;margin-left: 30px;position: absolute;">
    <div class="topic">Добавить турнир</div>
    <div class="the_line"></div>
    <div class="form">
      <form [formGroup]="addTournamentForm" (ngSubmit)="onSubmit()">

        <input formControlName="name"
               autocomplete="off" required
               name="nameTourn" required
               placeholder="Название турнира">
        <br>
        Предмет:<select formControlName="lesson">
        <option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.name}}</option>
        </select>
        <br>
        <button type="submit" [disabled]="!addTournamentForm.valid">Добавить</button>
      </form>
    </div>

  </div>


</div>
